# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# VS Code / IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db